<!-- Modal -->
<div id="myModal2" class="modal fade" tabindex="-1" >
  <div class="modal-dialog">
  
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crear Nuevo Empleado</h4>
      </div>
      <div class="modal-body">

      <%= form_for @empleado, :html => { :class => "form-horizontal empleado" } do |f| %>

  			<% if @empleado.errors.any? %>
    			<div id="error_expl" class="panel panel-danger">
      			<div class="panel-heading">
        			<h3 class="panel-title"><%= pluralize(@empleado.errors.count, "error") %> prohibited this empleado from being saved:</h3>
      			</div>
      			<div class="panel-body">
        			<ul>
        			<% @empleado.errors.full_messages.each do |msg| %>
          			<li><%= msg %></li>
        			<% end %>
        			</ul>
      			</div>
    			</div>
  			<% end %>

  			<div class="form-group">
    			<%= f.label :empleado, :class => 'control-label col-lg-2' %>
    			<div class="col-lg-10">
      			<%= f.text_field :empleado, :class => 'form-control' %>
    			</div>
    			<%=f.error_span(:empleado) %>
  			</div>
  			<div class="form-group">
    			<%= f.label :club_id, :class => 'control-label col-lg-2' %>
    			<div class="col-lg-10">
      			<%=f.collection_select(:club_id, Club.all, :id, :club, {:prompt => 'Seleccione Club'}) %>
      			<%#= f.text_field :club_id, :class => 'form-control' %>
    			</div>
    			<%=f.error_span(:club_id) %>
  			</div>
  			<div class="form-group">
  			  <%= f.label :departamento_id, :class => 'control-label col-lg-2' %>
  			  <div class="col-lg-10">
    			  <%=f.collection_select(:departamento_id, Departamento.all, :id, :departamento, {:prompt => 'Seleccione Departamento'}) %>
   			   <%#= f.text_field :departamento_id, :class => 'form-control' %>
   			 </div>
 			   <%=f.error_span(:departamento_id) %>
 			 </div>

 			 <div class="form-group">
   			 <div class="col-lg-offset-2 col-lg-10">
    			  <%= f.submit nil, :class => 'btn btn-primary' %>
     			 <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
         			       empleados_path, :class => 'btn btn-default' %>
    			</div>
  			</div>

			<% end %>

      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>